{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h2>About This Project</h2>

<p>This project is an extended version of the CP1404 Flask Wikipedia demo.</p>

<p>Features demonstrated in this project include:</p>
<ul>
    <li>Using the Flask web framework</li>
    <li>Creating routes and passing data between pages</li>
    <li>Using Jinja2 template inheritance</li>
    <li>Searching Wikipedia using the wikipedia Python library</li>
    <li>Handling errors such as disambiguation and missing pages</li>
</ul>

<p>Modified by: (Your Name Here)</p>
{% endblock %}
